@charset "utf-8";

#main{
    margin: 0 auto;
    min-height: 85vh;
}

#disc {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#m-container{
    width: 50%;
    min-height: 70vh;
    background: #fff;
    margin: 0 auto;
    padding-top: 100px;;
}

#addtitle{
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

p{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
table{
    border: 2px solid #ABABAB;
    border-collapse: collapse;
    width: 100%;
}
span{
    font-size: 12px;
    color: red;
}
th,td{
    border-bottom: 1px solid #ABABAB;
}
th{
    border-right: 1px solid #ABABAB;
    background: cornsilk;
    padding: 0;
    height: 60px;
    width: 250px;
    text-align: left;  
}
td{
    padding-right: 30px;
    padding-left: 10px;
    width: 300px;
}

#input1{
    margin-bottom: 20px;
    margin-top: 5px;
}
#addform{
    margin-left: 250px;
}
#addbutton{
    width: 150px;
    font-size: 16px;
   
}